<nav class="navbar navbar-expand-lg"id="nav">
  <div class="container-fluid">
      <img src="/assets/images/logo.jpg" alt="ict" width="80" height="70">
      <h3 style="color: #F8C8C6;padding-right: 25px;padding-left: 15px;">{{title}}</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link text-white"  style="font-size: large;" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/userLogin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >User-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/adminLogin" routerLinkActive="active" >Admin-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/Halls" routerLinkActive="active">Halls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/AddHall" routerLinkActive="active">Add Hall</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



